<!--
  Generated template for the SubscribePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Subscribe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<div class="content-wrapper">
		<div class="content-block">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>

			<p>For just a mearly <strong>1,- euro a month</strong>, your feed will be filled with more and better content.</p>

			<p>If you want to subscribe, fill in the form below and click on the button.</p>
				
			<div class="form-container">
				
				<p>Subscription form</p>

				<ion-item>
					<ion-input placeholder="Name" type="text"></ion-input>
				</ion-item>

				<ion-item>
					<ion-input placeholder="Lastname" type="text"></ion-input>
				</ion-item>

				<ion-item>
					<ion-input placeholder="Birthdate" type="text"></ion-input>
				</ion-item>

				<ion-item>
					<ion-input placeholder="Backaccount number" type="text"></ion-input>
				</ion-item>
			</div>
			<ion-item no-lines>
			  	<ion-label>I hereby accept the terms and conditions of Muzs</ion-label>
			  	<ion-checkbox checked="false"></ion-checkbox>
			</ion-item>
		</div>

		<div class="subscribe-button-container">
			<button ion-button class="subscribe-button">Subscribe</button>
		</div>
	</div>

</ion-content>
