.subscribe-text {
	color: $primary;
}

.subscribe-button-container {
	text-align: center; 

	.subscribe-button {
		background-color: $primary;
		margin: auto;
	}
}

.form-container {
	margin: 5rem 0 2rem 0;

	p {
		color: $primary;
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 1rem;
		padding-left: 2rem;
	}
}

page-subscribe {
	.item {
		margin-bottom: 1rem;
	}

	.item-checkbox .label {
		white-space: normal;
	}
}