<ion-header>
  <ion-toolbar>
    <ion-title>Muzs</ion-title>

    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon item-start name="contact" class="toolbar-icon"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-menu side="right" type="overlay" [content]="content" swipeEnabled="false">
	<ion-content class="sidemenu-content">
		<div>
			<ion-item class="background-primary" detail-none text-wrap no-lines>
<!-- 			    <ion-avatar item-start>
			      	<img src="assets/imgs/Moi.jpg">
			    </ion-avatar> -->

			    <h2 class="white-font profile-title">Nick-damstra</h2>

			    <!-- <ion-icon class="icon-white settings-icon" name="settings" item-end (click)="goAccount()" ></ion-icon> -->
		  	</ion-item>
		</div>

		<ion-list no-lines>

<!-- 			<button ion-item (click)="myChannel()">
				<ion-icon class="icon-button" item-start name="contact" ></ion-icon>
				<h2 class="secondary-font">My channel</h2>
			</button> -->

			<button ion-item (click)="goSubscribe()">
				<ion-icon class="icon-button" item-start name="logo-usd" ></ion-icon>
				<h2 class="secondary-font">Subscribe</h2>
			</button>

<!-- 			<div class="line-div"></div>
 -->
			<button ion-item (click)="goSettings()">
				<ion-icon class="icon-button" item-start name="settings"></ion-icon>
				<h2 class="secondary-font">Settings</h2>
			</button>

			<button ion-item (click)="goConditions()">
				<ion-icon class="icon-button" item-start name="lock"></ion-icon>
				<h2 class="secondary-font" text-wrap>Conditions and privacy policy</h2>
			</button>

<!-- 			<button ion-item  (click)="helpAndFeedback()">
				<ion-icon class="icon-button" item-start name="help-circle"></ion-icon>
				<h2 class="secondary-font">Help and feedback</h2>
			</button> -->

<!-- 			<button ion-item (click)="goInfo()">
				<ion-icon class="icon-button" item-start name="information-circle"></ion-icon>
				<h2 class="secondary-font">Information</h2>
			</button> -->

<!-- 			<div class="line-div"></div>
 -->
			<button ion-item (click)="logOut()">
				<ion-icon class="icon-button" item-start name="power"></ion-icon>
				<h2 class="secondary-font">Logout</h2>
			</button>

		</ion-list>
	</ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="play"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="cash"></ion-tab>
</ion-tabs>
