<!--
  Generated template for the HelpAndFeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Help and Feedback</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<div class="content-wrapper">
		<div class="content-block">
			<ion-label class="title primary-font">Help</ion-label>
			<button ion-item detail-none no-lines (click)="goFaq()">
				<ion-icon class="icon-button" name="chatbubbles" item-start></ion-icon>
				<p class="text">FAQ</p>
			</button>

			<button ion-item detail-none no-lines (click)="goQuestionform()">
				<ion-icon class="icon-button" name="text" item-start></ion-icon>
				<p class="text">Send your question</p>
			</button>
		</div>

		<div class="content-block">
			<button ion-item detail-none no-lines (click)="goFeedbackform()">
				<ion-icon class="icon-button" name="alert" item-start></ion-icon>
				<p class="text">Send feedback</p>
			</button>
		</div>
	</div>

</ion-content>
