<!--
  Generated template for the PaidPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>paid</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="content-wrapper">
		<div class="header-wrapper">
			<h3>Exclusive content</h3>
		</div>
	</div>
</ion-content>
