page-feedbackform {
.content {
		background-color: $light-grey;

		.item {
			background-color: $light-grey;
			padding: 0 15px 0 15px;
			color: $dark-grey;

			.icon {
			color: $primary;
			margin-right: 0;
			padding-right: 0;
			}

			.item-inner {
				padding: 0;
			}

			.input {
				padding-left: 10px;
				border-radius: 10px;
				background-color: white;
			}

			.feedback-message {
				height: 50%;

				.text-input {
					height: 200px;
					resize: none;
				}
			}

			.input-title {
				margin-bottom: 5px;
			}	
		}

		.addquestion {
			margin-top: 10px;
			color: $dark-grey;
		}

		.button-div {
			margin-top: 20px;
			margin-bottom: 20px;
			text-align: center;
			
			.send-button {
				width: 50%;
				margin-left: 25%;
				background-color: $primary;
			}
		}
	}
}
