<!--
  Generated template for the FeedbackformPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Feedback Form</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-item no-lines class="help-feedback-top">
		<ion-icon name="alert" item-start></ion-icon>
		<h3 class="title">Send your feedback</h3>
	</ion-item>

	<ion-item no-lines>
		<ion-label class="input-title" stacked>Name</ion-label>
		<ion-input type="text"></ion-input>
	</ion-item>

	<ion-item no-lines>
		<ion-label class="input-title" stacked>Email</ion-label>
		<ion-input type="email"></ion-input>
	</ion-item>

	<ion-item no-lines>
		<ion-label class="input-title" stacked>Subject</ion-label>
		<ion-input type="text"></ion-input>
	</ion-item>

	<ion-item no-lines>
		<ion-label class="input-title" stacked>Your feedback</ion-label>
		<ion-textarea class="feedback-message"></ion-textarea>
	</ion-item>

	<div class="button-div">
		<button ion-button block class="send-button" (click)="showAlert()">Send Feedback</button>
	</div>
</ion-content>
