<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>The question is:</ion-list-header>
    <ion-item>
      <ion-icon name="help-circle" item-start></ion-icon>
      What to do with this page?
    </ion-item>
  </ion-list>
</ion-content>
