<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<div class="content-align">
  <ion-card class="content-card" *ngFor="let video of videos">
      <ion-card-title class="video-header content-card-title">
          <ion-item class="content-card-title-inside">
              {{ video.title }}
          </ion-item>
      </ion-card-title>
      <img class="content-image" [src]="video.poster" (click)="startVideo()">
      <ion-card-content>
          {{ video.description }}
          <p class="time-send">{{ video.updated_at }}</p> 
      </ion-card-content>
  </ion-card>
</div>

<div id="container"></div>

 <!--  <ion-card class="content-card">
    <ion-card-title class="instagram content-card-title">
      <ion-item class="content-card-title-inside">
        <ion-avatar item-start>
          <img class="muzs-avatar" src="assets/imgs/Moi.jpg">
        </ion-avatar>
        <h3 class="content-card-username">Nick</h3>
        <p class="content-card-media">Instagram</p>
      </ion-item>
    </ion-card-title>
    <img class="content-image" src="assets/imgs/shelly-ap.jpg">
    <ion-card-content>
      <button ion-button icon-only class="content-buttons">
        <ion-icon name="heart" item-start></ion-icon>
      </button>
      <button ion-button icon-only class="content-buttons">
        <ion-icon name="text" item-start></ion-icon>
      </button>
      <button ion-button icon-only class="content-buttons">
        <ion-icon name="paper-plane" item-start></ion-icon>
      </button>
      <p class="likes">53 likes</p>
      <p class="content-text">
        <span class="username-uploader">BajaBorgerInstagram</span> Racing <span class="hashtag">#fast #offroad #cars #rally </span>
      </p>
      <p class="content-text">
        <span class="username-comment">DonaldTrump</span> Very nice!
      </p>
      <p class="content-text">
        <span class="username-comment">BobBobby</span> That's gotta be the best pirate I've ever seen.
      </p>
      <p class="read-all">Read all 87 comments</p>
      <p class="time-send">16 MINUTES AGO</p>

    </ion-card-content>
  </ion-card>
 -->

</ion-content>
