<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="content-wrapper">
		<div class="content-block">
			<ion-label class="title primary-font">Video</ion-label>
			
			<ion-item no-lines>
				<ion-label class="text">Only play HD videos when on WiFi</ion-label>
				<ion-toggle [(ngModel)]="hdWifi"></ion-toggle>
			</ion-item>

			<ion-item no-lines>
				<ion-label class="text">Location</ion-label>
				<p item-end class="sub-text">Netherlands</p>
			</ion-item>
		</div>

		<div class="content-block" (click)="goNotifications()">
			<ion-label class="title text">Notifications</ion-label>
		</div>

		<div class="content-block">
			<ion-label class="title primary-font">History and Privacy</ion-label>
			
			<ion-item no-lines>
				<ion-label class="text">Delete watching history</ion-label>
			</ion-item>

			<ion-item no-lines>
				<ion-label class="text">Delete search history</ion-label>
			</ion-item>

			<ion-item no-lines (click)="goConditions()">
				<p class="text">Muzs services and conditions</p>
				<p class="sub-text">Read the services and conditions of Muzs</p>
			</ion-item>
		</div>

		<div class="content-block">
			<ion-label class="title primary-font">About</ion-label>
			
			<ion-item no-lines>
				<ion-label class="text" (click)="goHelppage()">Help</ion-label>
			</ion-item>

			<ion-item no-lines>
				<ion-label class="text" (click)="goFeedbackform()">Feedback</ion-label>
			</ion-item>

			<ion-item no-lines>
				<ion-label class="text">Send crash reports</ion-label>
				<ion-toggle [(ngModel)]="sendReports" checked="true"></ion-toggle>
			</ion-item>

			<ion-item no-lines (click)="goConditions()">
				<p class="text">Muzs services and conditions</p>
				<p class="sub-text">Read the services and conditions of Muzs</p>
			</ion-item>

			<ion-item no-lines>
				<ion-label class="text">Version</ion-label>
				<p item-end class="sub-text">1.0.0</p>
			</ion-item>
		</div>
	</div>
</ion-content>
