<!--
  Generated template for the MychannelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>My channel</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="profile-wrapper">
		<ion-item class="background-white" detail-none text-wrap no-lines>
		    <ion-avatar item-start>
		      	<img src="assets/imgs/Moi.jpg">
		    </ion-avatar>

		    <h2 class="white-font channel-profile-title">Nick-damstra</h2>

		    <ion-icon class="icon-dark settings-icon" name="settings" item-end (click)="goAccount()" ></ion-icon>
	  	</ion-item>
	</div>

	<div class="content-wrapper">
		<div class="header-wrapper">
			<h3>Liked content</h3>
		</div>

		<ion-card class="content-card">
		    <ion-card-title class="instagram content-card-title">
		    	<ion-item class="content-card-title-inside">
		        	<ion-avatar item-start>
		            	<img class="muzs-avatar" src="assets/imgs/Moi.jpg">
		        	</ion-avatar>
			        <h3 class="content-card-username">Nick</h3>
			        <p class="content-card-media">Instagram</p>
		      	</ion-item>
		    </ion-card-title>
		    <img class="content-image" src="assets/imgs/shelly-ap.jpg">
		    <ion-card-content>
			    <button ion-button icon-only class="content-buttons">
			        <ion-icon name="heart" item-start></ion-icon>
			    </button>
			    <button ion-button icon-only class="content-buttons">
			        <ion-icon name="text" item-start></ion-icon>
			    </button>
			    <button ion-button icon-only class="content-buttons">
			        <ion-icon name="paper-plane" item-start></ion-icon>
			    </button>
			    <p class="likes">53 likes</p>
			    <p class="content-text">
			        <span class="username-uploader">BajaBorgerInstagram</span> Racing <span class="hashtag">#fast #offroad #cars #rally </span>
			    </p>
			    <p class="content-text">
			        <span class="username-comment">DonaldTrump</span> Very nice!
			    </p>
			    <p class="content-text">
			        <span class="username-comment">BobBobby</span> That's gotta be the best pirate I've ever seen.
			    </p>
			    <p class="read-all">Read all 87 comments</p>
			    <p class="time-send">16 MINUTES AGO</p>

		    </ion-card-content>
		</ion-card>

		<ion-item no-lines class="more-button">
			<ion-icon name="arrow-dropdown"></ion-icon>
		</ion-item>
	</div>

	<div class="content-wrapper">
		<div class="header-wrapper">
			<h3>Subscriptions</h3>
		</div>

		<ion-list>
	    	<ion-item>
	        	<ion-avatar item-start>
	            	<img class="muzs-avatar" src="assets/imgs/shelly-ap.jpg">
	        	</ion-avatar>
		        <h3>Michelle</h3>
		        <p>Subscription duration - 1 week left</p>
	      	</ion-item>

	    	<ion-item>
	        	<ion-avatar item-start>
	            	<img class="muzs-avatar" src="assets/imgs/shelly-ap.jpg">
	        	</ion-avatar>
		        <h3>Shelly</h3>
		        <p>Subscription duration - 1 week left</p>
	      	</ion-item>
		</ion-list>
	</div>
</ion-content>
