page-mychannel {
	.content {
		background-color: #ffffff;
	}
}

.channel-profile-title {
	color: $primary;
	padding-left: 1rem;
}

.content-wrapper{
	h3, p {
		padding: 0;
	}

	.header-wrapper {
		background-color: $background-light;
		text-align: center;
		color: $primary;
		padding: 1.5rem;
	}
}
