// Removes the scrollbar on every page
::-webkit-scrollbar { 
    display: none; 
}

.content-align {
	@include media-breakpoint-up(md) {
		width: 60%;
		margin: auto;
    }

    @include media-breakpoint-up(lg) {
		width: 55%;
		margin: auto;
    }

	@include media-breakpoint-up(xl) {
		width: 50%;
		margin: auto;
    }
}

// Main colors
$primary				:    		#216aad;
$secondary				:  			#909090;
$dark-grey				:			#909090;
$light-grey				:			#f4f4f4;
$background-light		:    		#f4f4f4;
$background-dark		:     		#909090;

// Media tab colors
$instagram              :           linear-gradient(20deg, #e6c66f, #ed4837, #af2070, #453bcf);
$facebook               :           linear-gradient(#34518b, #3b5998, #3b5998, #3b5998, #34518b);
$twitter                :           linear-gradient(#0f85fb, #2490eb, #2490eb, #2490eb, #0f85fb);
$sinon                  :           linear-gradient(20deg, #5345bd, #485dcf, #2eb7ff);
$youtube                :           linear-gradient(#d20015, #db0316, #db0316, #db0316, #d20015);
$webcontent             :           linear-gradient(20deg, #fa7024, #fdd627);
$video-header			: 			linear-gradient(20deg, #6c04de, #3200a2, #216aad);

$segment-button-ios-background-color-activated : red !important;

// fonts
h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

p {
	font-size: 16px;
}

h1, h2, h3, p {
	margin: 0;
	padding: .5rem 0;
}

.title {
	font-size: 18px;
}

.profile-title {
	padding-left: 2rem;
}

.white-font {
	color: #ffffff;
}

.primary-font {
	color: $primary;
}

.secondary-font {
	color: $secondary;
}

.middle-primary-text {
	text-align: center;
	color: $primary;
}

.hashtag {
	color: $primary;
}

.read-all {
	font-size: 12px !important;
	color: $dark-grey !important;
	padding: 0 !important;
}

.time-send {
	font-size: 10px !important;
	color: $dark-grey !important;
}

.username-uploader {
	color: #000000;
	padding-right: 5px;
	padding-bottom: 0;
	font-weight: bold;
}

.username-comment {
	color: #000000;
	padding: 0 5px 0 0;
	font-weight: bold;
}

.content-text {
	padding: 0;
	font-size: 12px !important;
}

		// Removes the underline of the input fields. //

.item-md.item-block,
.item-md.item-input.input-has-focus .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
.list-md .item-input.input-has-focus:last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    box-shadow: none;
}

.list-md .item-input.input-has-focus:last-child .item-inner,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
    box-shadow: none; 
}



// App background and size
.ion-page {
	min-width: 250px;
}

.content {
	background-color: $background-light;
}

.background-primary {
	background-color: $primary;
}

.background-secondary {
	background-color: $secondary;
}

.background-white {
	background-color: #ffffff;
}


// Toolbar (topnav)
.toolbar-background, .toolbar-background-md {
	background-color: $primary;
}

.toolbar, .toolbar-md {
	text-align: center;
}

.toolbar-title, .toolbar-title {
	color: #ffffff;
}

.toolbar ion-title, .toolbar-md ion-title {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.toolbar-icon {
	color: #ffffff;
}


//	On pc; removes de hover from buttons  //
.button:hover{
	background-color: transparent;
	color: none;
}

.button-md:hover:not(.disable-hover) {
	background-color: transparent;
}


// Buttons
.main-button {
	color: $primary;
}

.icon-button {
	color: $secondary;
}

.icon-dark {
	color: $secondary;
}

.icon-white {
	color: #ffffff;
}

.back-button {
	color: #ffffff;
}

.more-button {
	background-color: transparent;
	text-align: center;
	padding-top: 0;
	margin: 1rem 0;

	.icon {
		color: $secondary;
		font-size: 3rem;
	}
}

.content-buttons {
	width: 40px;
	height: 30px;
	color: $dark-grey ;
	background-color: transparent;
	font-size: 14px;
	padding: 0;
	margin: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}


// tab buttons //
.tabs .tabbar {

	.tab-button[aria-selected=true] {
		background-color: transparent;
		color: $primary;

		.tab-button-icon {
			color: $primary;
			transition: none;
			transform: none;
		}
	}

	.tab-button[aria-selected=false] {
		background-color: transparent;
		color: $dark-grey;

		.tab-button-icon {
			color: $dark-grey;
		}
	}
}

// Sidemenu
.sidemenu-content {
	background-color: #ffffff;
	height: 100%;

	.settings-icon {
		font-size: 20px;
	}

	.list .item, .list-md .item-md {
		padding-left: 3rem;
	}

	.line-div {
		border-bottom: 2px solid $light-grey;
		margin: 1rem 0;
	}
}

// Content blocks
.content-page {
	background-color: $background-light;
	padding: 1rem;
}

.content-page-block {
	background-color: #ffffff;
	padding: 1rem;
	margin: 0.5rem 1rem;
}


// Avatar for cards and profile
.muzs-avatar {
	border-radius: 100% !important;
	object-fit:cover;
	width: 40px !important;
	height : 40px !important;
	max-width: 40px !important;  //any size
	max-height: 40px !important; //any size
}


// Content cards
.content-card {
	margin: 0 0 15px 0;
	width: 100%;
	min-width: 250px;

	.card-content {
		padding: 15px;
	}

	.likes {
		font-size: 10px;
		color: $dark-grey;
		margin-bottom: 5px;
	}

	.video-title {
		font-weight: bold;
		padding-left: 0;
		font-size: 16px;
	}

	.content-card-title {
		padding: 5px 0 5px 15px;
		color: white;
		margin: 0;
		max-height: 60px;
	}

	.content-card-title-inside {
		background-color: transparent;
		margin: 0;
		padding: 0;
		color: #FFF;
		height: 40px;

		.content-card-username {
			color: #ffffff;
			font-size: 16px;
			padding: 0;
			margin: 0;
		}

		.content-card-media {
			color: #ffffff;
			font-size: 12px;
			padding: 3px 0 0 0;
			margin: 0;
		}
	}

	.uploader-title {
		font-size: 16px;
		color: #FFF;
	}

	.uploader-subtitle {
		font-size: 12px;
		color: white;
	}

	.instagram {
		background: $instagram;
	}

	.facebook {
		background: $facebook;
	}

	.twitter {
		background: $twitter;
	}

	.sinon {
		background: $sinon;
	}

	.youtube {
		background: $youtube;
	}

	.webcontent {
		background: $webcontent;
	}

	.video-header {
		background: $video-header;
	}

	.img-div .content-images {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	.web-images {
		max-height: 400px;
		width: auto;
		margin-bottom: 15px;
		padding: 0;
		float: left;
	}

	.web-text {
		padding-left: 0;
		font-size: 12px;
		text-align: justify;
	}

	.article-title {
		font-weight: bold;
		font-size: 16px;
	}

	.readmore {
		color: $primary;
	}
}


// Content blocks
.content-block {
	background-color: #ffffff;
	border-radius: 5px;
	margin: 1rem;
	padding: 1rem;

	.title {
		padding-left: 1.5rem;
	}

	p {
		margin-bottom: 1.5rem;
	}
}