<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<div class="notification-background-div">
		<div class="notification-div block">
		
			<ion-item no-lines>
				<h2 class="title primary-font">Notifications</h2>
			</ion-item>
			<ion-item no-lines>
				<ion-label class="text">
					Push messages
				</ion-label>
				<ion-toggle></ion-toggle>
			</ion-item>

			<ion-item no-lines>
				<ion-label class="text">
					The monthly newsletter
				</ion-label>
				<ion-toggle></ion-toggle>
			</ion-item>

			<ion-item no-lines>
				<ion-label class="text">
					Mails about the latest updates
				</ion-label>
				<ion-toggle></ion-toggle>
			</ion-item>
			<ion-item no-lines>
				<ion-label class="text">
					Mails about the latest news
				</ion-label>
				<ion-toggle></ion-toggle>
			</ion-item>
		</div>
		<div class="save-button-div">
			<button ion-button class="save-button" (click)="saveChanges()">Save changes</button>
		</div>
	</div>

</ion-content>
