page-notifications {
	.block {
		background-color: #FFF;
		padding: 3px 1rem 3px 1rem;
		margin-bottom: 1rem;
		border-radius: 5px;
		
		.item, .item-inner {
			padding: 0;
		}
	}

	.notification-background-div {
		background-color: $light-grey;
		padding: 1rem;
		height: 100%;

		.notification-div {
			background-color: #FFF;
			margin-bottom: 2rem;
			padding: .5rem 2rem;
		}
		
		.save-button-div {
			text-align: center;
			.button {
				background-color: $primary;
			}
		}
	}

	.title {
		padding: 0;
	}

	.text {
		font-size: 14px;
	}

	.sub-text {
		font-size: 13px;
	}
}
