<!--
  Generated template for the QuestionformPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Question Form</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-item no-lines class="help-feedback-top">
		<ion-icon name="text" item-start></ion-icon>
		<h3 class="title">Send your question</h3>
	</ion-item>

	<ion-item no-lines>
		<ion-label class="input-title" stacked>Name</ion-label>
		<ion-input type="text"></ion-input>
	</ion-item>

	<ion-item no-lines>
		<ion-label class="input-title" stacked>Email</ion-label>
		<ion-input type="email"></ion-input>
	</ion-item>

	<ion-item no-lines>
		<ion-label class="input-title" stacked>Your question</ion-label>
		<ion-textarea class="question"></ion-textarea>
	</ion-item>


	<ion-item no-lines class="addquestion">
		<ion-icon name="add-circle" item-start></ion-icon>
		<h3>Add question field</h3>		
	</ion-item>

	<div class="button-div">
		<button ion-button block class="send-button" (click)="showAlert()">Send Question</button>
	</div>
</ion-content>
