<!-- Generated template for the AccordionComponent component -->

<ion-card>
	
	<ion-card-header (click)="toggleAccordion()">
	    <ion-list>
	      	<ion-item>
	        	<button ion-button clear small icon-only item-right>
	          		<ion-icon color="dark" [name]="icon"></ion-icon>
	        	</button>
	        	{{ title }}
	    	</ion-item>
		</ion-list>
	</ion-card-header>
	<ion-card-content #question>
	    <ng-content></ng-content>
  	</ion-card-content>

</ion-card>