accordion {
	.card-header {
		background-color: white;
		color: #FFF;
		height: 55px;
		padding: 5px 0px 20px 0px; 
		.item {
			background-color: white;
			color: black;
			font-size: 14px;
			height: 15px;
		}
	}
	.card-content {
		padding: 0px 15px;
		max-height: 0px;
		color: $dark-grey;
		font-size: 14px;
	}
}