<!--
  Generated template for the FaqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Frequently Asked Questions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<accordion title="How do I change my profile picture?" detail-none text-wrap> A - Go to your account page and click on the button right underneath your current profile picture. The button says "change picture". </accordion>

	<accordion title="How do I change my password?" detail-none text-wrap> A - Go to your account page and click on the settings button, which exists in the upper right corner of the screen. On that page you'll see the "Change password" button. </accordion>

	<accordion title="Can I contact a videomaker?" detail-none text-wrap> A - No, not directly. This is because of the privacy of the videomaker. You can only contact them through Muzs. </accordion>

	<accordion title="Can I watch a premium video without an account?" detail-none text-wrap> A - No, you can't. You need an account and a subscription on a channel to see their premium content. </accordion>

	<accordion title="Can I use videos for my own business?" detail-none text-wrap>A - No, you can't. This violates the authors rights. </accordion>

  <div class="ask-question">
    <p class="ask-question-text">Is your problem not solved? Click <span class="click-here" (click)="goQuestionform()">here</span> to ask your question.</p>
  </div>

</ion-content>
