page-faq {
	.button {
		background-color: transparent;
	}

	.card {
		border-radius: 10px;
	}

	.scroll-content {
		background-color: $light-grey;
	}

	.ask-question {
		padding: 15px;

		.ask-question-text {
			margin-top: 0;
			font-size: 14px;
			color: $dark-grey;
			
			.click-here {
				color: $primary;
				text-decoration: underline;
			}
		}
	}
}
