<!--
  Generated template for the MysubscriptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>My subscriptions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="content-wrapper">
		<ion-list>
	    	<ion-item>
	        	<ion-avatar item-start>
	            	<img class="muzs-avatar" src="assets/imgs/shelly-ap.jpg">
	        	</ion-avatar>
		        <h3>Michelle</h3>
		        <p>Subscription duration - 1 week left</p>
	      	</ion-item>

	    	<ion-item>
	        	<ion-avatar item-start>
	            	<img class="muzs-avatar" src="assets/imgs/shelly-ap.jpg">
	        	</ion-avatar>
		        <h3>Shelly</h3>
		        <p>Subscription duration - 3 weeks left</p>
	      	</ion-item>
		</ion-list>
	</div>
</ion-content>
