page-media {
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }

    .nav-bar-media {

    }

        .scroll-content {
            margin: 0;
            padding: 0;

            .segment-md .segment-button {
                line-height: 1rem;
            }

            ion-segment {
                font-size: 0;
                overflow: auto;
                padding: 2rem 1rem 1rem 1rem;

                .segment-button {
                    color: #216aad;
                    display: inline-block;
                    max-height: 3rem;
                    padding: 0;
                }
                
                .segment-button .segment-activated {
                    border: none;
                    color: $primary !important;
                    display: inline-block;
                    text-decoration: underline;
                    width: auto;
                }
            }
        }

    @supports (-webkit-overflow-scrolling: touch) {
        ion-segment {
            padding-top: 1rem !important;
        }
        .segment-button {
            color: #ffffff !important;
        }
    }


    div.scrollmenu {
        background-color: #ffffff;
        overflow: auto;
        text-align: center;
        white-space: nowrap;
    }

    div.scrollmenu .scrollmenu-button {
        background: transparent;
        box-shadow: none;
        color: $secondary;
        display: inline-block;
        padding: 14px;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        font-weight: normal;
    }

    div.scrollmenu .scrollmenu-button:active {
        bottom-border: 1px solid $primary;
        color: $primary;
    }

}
