<!--
  Generated template for the MediaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>media</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<div class="scrollmenu">
		<button ion-button class="scrollmenu-button" *ngFor="let category of categories">{{ category.title }}</button>
	</div>

	<div class="content">
		<div class="content-align">
		  <ion-card class="content-card" *ngFor="let video of videos">
		      <ion-card-title class="video-header content-card-title">
		          <ion-item class="content-card-title-inside">
		              {{ video.title }}
		          </ion-item>
		      </ion-card-title>
		      <img class="content-image" [src]="video.poster" (click)="startVideo()">
		      <ion-card-content>
		          {{ video.description }}
		          <p class="time-send">{{ video.updated_at }}</p> 
		      </ion-card-content>
		  </ion-card>
		</div>
	</div>

	

	<!-- <div>
      	<ion-segment tabsPlacement="top" class="media-nav">
      		<ion-segment-button *ngFor="let category of categories" value="category.id">{{ category.id }}</ion-segment-button>
        	<ion-segment-button value="videos">Videos</ion-segment-button>
        	<ion-segment-button value="articles">Articles</ion-segment-button>
        	<ion-segment-button value="socialmedia">Socialmedia</ion-segment-button>
    	</ion-segment>
	</div>

	<div class="nav-bar-media" >

	<div class="nav-bar-media" [ngSwitch]="content">
	    <ion-list *ngSwitchCase="'videos'">
		    <div class="title-media">
		    	<ion-list>
		    		<ion-card class="content-card">
					    <ion-card-title class="instagram content-card-title">
					      <ion-item class="content-card-title-inside">
					        <ion-avatar item-start>
					          <img class="muzs-avatar" src="assets/imgs/Moi.jpg">
					        </ion-avatar>
					        <h3 class="content-card-username">Nick</h3>
					        <p class="content-card-media">Instagram</p>
					      </ion-item>
					    </ion-card-title>
					    <img class="content-image" src="assets/imgs/shelly-ap.jpg">
					    <ion-card-content>
					      <button ion-button icon-only class="content-buttons">
					        <ion-icon name="heart" item-start></ion-icon>
					      </button>
					      <button ion-button icon-only class="content-buttons">
					        <ion-icon name="text" item-start></ion-icon>
					      </button>
					      <button ion-button icon-only class="content-buttons">
					        <ion-icon name="paper-plane" item-start></ion-icon>
					      </button>
					      <p class="likes">53 likes</p>
					      <p class="content-text">
					        <span class="username-uploader">BajaBorgerInstagram</span> Racing <span class="hashtag">#fast #offroad #cars #rally </span>
					      </p>
					      <p class="content-text">
					        <span class="username-comment">DonaldTrump</span> Very nice!
					      </p>
					      <p class="content-text">
					        <span class="username-comment">BobBobby</span> That's gotta be the best pirate I've ever seen.
					      </p>
					      <p class="read-all">Read all 87 comments</p>
					      <p class="time-send">16 MINUTES AGO</p>

					    </ion-card-content>
  					</ion-card>
		    	</ion-list>
		    </div>
		</ion-list>


		<ion-list *ngSwitchCase="'articles'">
		    <div class="title-media">
			    <ion-list>
					<ion-card class="content-card">
					    <ion-card-title class="instagram content-card-title">
					      <ion-item class="content-card-title-inside">
					        <ion-avatar item-start>
					          <img class="muzs-avatar" src="assets/imgs/Moi.jpg">
					        </ion-avatar>
					        <h3 class="content-card-username">Nick</h3>
					        <p class="content-card-media">Instagram</p>
					      </ion-item>
					    </ion-card-title>
					    <img class="content-image" src="../assets/imgs/shelly-amuzementpark.jpg">
					    <ion-card-content>
					      <button ion-button icon-only class="content-buttons">
					        <ion-icon name="heart" item-start></ion-icon>
					      </button>
					      <button ion-button icon-only class="content-buttons">
					        <ion-icon name="text" item-start></ion-icon>
					      </button>
					      <button ion-button icon-only class="content-buttons">
					        <ion-icon name="paper-plane" item-start></ion-icon>
					      </button>
					      <p class="likes">53 likes</p>
					      <p class="content-text">
					        <span class="username-uploader">BajaBorgerInstagram</span> Racing <span class="hashtag">#fast #offroad #cars #rally </span>
					      </p>
					      <p class="content-text">
					        <span class="username-comment">DonaldTrump</span> Very nice!
					      </p>
					      <p class="content-text">
					        <span class="username-comment">BobBobby</span> That's gotta be the best pirate I've ever seen.
					      </p>
					      <p class="read-all">Read all 87 comments</p>
					      <p class="time-send">16 MINUTES AGO</p>

					    </ion-card-content>
					</ion-card>
			    </ion-list>
			</div>
		</ion-list>

		
		<ion-list *ngSwitchCase="'socialmedia'">
		    <div class="title-media">
			    <ion-list>
			    	<p class="middle-primary-text">Unfortunately no content yet...</p>
			    </ion-list>
			</div>
		</ion-list>

	</div> -->

</ion-content>
